body {
    background-color: black;
    color: green;
    height: 100vh;
    position: relative;
}

a {
    color: #999;
}

a:hover {
    color: #666;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

pre, code {
    color:  green !important;
}