certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
requests==2.22.0
selenium==3.141.0
urllib3==1.26.5
uWSGI==2.0.18
Werkzeug==0.16.0
